#particles-js {
    width: 100%;
    height: 80%;
    position: absolute;
}

#fondo {
    background-image: url('../../../assets/img/login.jpg');
    width: 100%;
    height: 80%;
    position: absolute;
}

.formulario {
    position: relative;
}